html, body {
  --at-apply: "m-0 p-0 h-screen font-sans";
}

body {
  --at-apply: "bg-zinc-50 text-zinc-900";
}

a {
  --at-apply: "no-underline text-red-900 hover:text-red-700";
}

::-webkit-scrollbar {
  --at-apply: "w-1";
}

::-webkit-scrollbar-track {
  --at-apply:"shadow-zinc-800"; 
}

::-webkit-scrollbar-thumb {
 --at-apply:"bg-zinc-500 outline-1 outline-zinc-500"; 
}
